
{% extends "base.html" %}
{% block title %}My Bookings{% endblock %}
{% block content %}
<div class="booking_login">
    <h2>My Bookings</h2>
    <ul class="bookingcontainer">
        {% for booking in bookings %}
        <li>
            {{ booking[1] }} - ${{ booking[2] }} - Status: {{ booking[3] }}
            <a href="{{ url_for('cancel_booking', booking_id=booking[0]) }}">Cancel</a>
        </li>
        {% endfor %}
    </ul>
    <br>
</div>

<div class="optionb">
    <a href="{{ url_for('user_dashboard') }}">Back</a> 
    <a href="{{ url_for('logout') }}">Logout</a>
</div>

{% endblock %}