{% extends "base.html" %}
{% block title %}Available Vehicles{% endblock %}
{% block content %}
    <h2>Available Vehicles</h2>
    <ul>
        {% for vehicle in vehicles %}
            <li>
                {{ vehicle[1] }} ({{ vehicle[2] }}) - ${{ vehicle[3] }} 
                <a href="{{ url_for('book_vehicle', vehicle_id=vehicle[0]) }}">Book</a>
            </li>
        {% endfor %}
    </ul>
    <br>
    <a href="{{ url_for('booking_history') }}">My Bookings</a> |
    <a href="{{ url_for('logout') }}">Logout</a>
{% endblock %}
